.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: xx-large;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

#fav {
  position: absolute;
  right: 50px;
}

header {
  display: flex;
  justify-content: center;
  gap: 5px;
}

header .icon {
  position: absolute;
  height: 90px;
  left: 7px;
  top: 7px;
}

#searchIcon {
  background: aliceblue;
}

header input {
  font-size: 25px;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  outline: none;
  gap: 17px;
  flex-wrap: wrap;
}

.container div {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  font-size: 20px;
  word-break: break-word;
}

.container div:hover {
  font-size: 27px;
  font-weight: bold;
}

.container div img {
  transition: all 0.7s;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.container div img:hover {
  height: 430px;
}

.yellow {
  background-color: yellow;
  color: black;
}

/*--------------Favorite list-----------------*/

header strong {
  font-size: xx-large;
  font-weight: bold;
}

.back {
  border-radius: 0;
  position: absolute;
  left: 7px;
  top: 7px;
  background-color: black;
  color: white;
  font-size: xx-large;
  padding: 10px;
}

.clear {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 27px;
  padding: 7px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color: white;
  cursor: pointer;
}
